* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.calculator__screen {
  background: black;
  color: white;
  width: 500px;
  height: 750px;
  margin: 100px;
}

input {
  font-size: 80px;
  height: 130px;
  width: 100%;
  background: black;
  border: none;
  color: white;
  text-align: right;
  padding-right: 25px;
}

.btn__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 80%;
  gap: 15px;
  padding: 20px;
}

.btn__no,
.btn__ac,
.btn__op__add,
.btn__op__minus,
.btn__op__multiply,
.btn__op__divide,
.btn__eq,
.btn__func__pm,
.btn__func__perc,
.btn__dec {
  border-radius: 50%;
  color: white;
  background: #333;
  border: none;
  font-size: 36px;
}

.btn--zero {
  grid-column: 1/span 2;
  border-radius: 55px;
}

.btn__op__add,
.btn__op__minus,
.btn__op__multiply,
.btn__op__divide,
.btn__eq {
  background: orange;
  font-size: 38px;
}

.btn__func__pm,
.btn__func__perc,
.btn__ac {
  background: lightgray;
  color: black;
}